@model IEnumerable<FreshSpotRewardsWebApp.Models.Card>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceContractID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesContractID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardBinID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrgID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M_IDNUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L_IDNUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_IDNUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_PREFIX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_ACCT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACCT_NUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardMag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IVRWEBPIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_NOTES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_OTB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_PADOTB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_CCTYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_CCNUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_CCEXP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_EDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_SALUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_FNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_INITIAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_LNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HADDR1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HADDR2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HCITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HSTATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_HPHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WADDR1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WADDR2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WCITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WSTATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_WPHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DL_STATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DL_NUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESERVED1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESERVED2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESERVED3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESERVED4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESERVED5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CP_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecretWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GENDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDUCATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.INCOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADULTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillCardDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACHPosttDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonefax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocityHitCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocityPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPayExternalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstLoadTransEnterEDID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociatedCardID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardIDAssignDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivacyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacementCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationsDeliveryCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardIssuerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousCustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardRelationshipCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentLocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CH_MPHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayEnableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailValidationCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhoneValidationCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailValidationPointsAwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhoneValidationPointsAwarded)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceContractID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesContractID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardBinID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M_IDNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L_IDNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_IDNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_PREFIX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_ACCT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACCT_NUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardMag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IVRWEBPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_NOTES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_OTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_PADOTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_CCTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_CCNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_CCEXP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_EDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_SALUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_FNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_INITIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_LNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HADDR1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HADDR2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HCITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HSTATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_HPHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WADDR1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WADDR2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WCITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WSTATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_WPHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DL_STATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DL_NUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESERVED1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESERVED2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESERVED3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESERVED4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESERVED5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CP_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENDER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDUCATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INCOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADULTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillCardDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACHPosttDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonefax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocityHitCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocityPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillPayExternalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstLoadTransEnterEDID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedCardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivationCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardIDAssignDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivacyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplacementCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunicationsDeliveryCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardIssuerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousCustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardRelationshipCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentLocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CH_MPHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayEnableDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailValidationCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhoneValidationCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailValidationPointsAwarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhoneValidationPointsAwarded)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CardID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CardID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CardID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
