@Model FreshSpotRewardsWebApp.Models.Card

@{
    ViewBag.Title = "Fresh Spot Rewards";
    ViewBag.CreateError = "";
    ViewBag.SendError = "";
    ViewBag.VerError = "";
}


<div class="container">
    <div class="row top-row">
        <div class="bkgd col-lg-5"> </div>
        <div class="col-lg-1"> </div>
        <div class="right-col col-lg-6">
            <h4>Use your mobile number to earn FREE pizza!</h4>

            <h1 class="main-cta">Sign up now for Fresh Spot Rewards, and get a FREE Hunk A Pizza&reg;!</h1>

            <h3 class="sub-cta">Enter your mobile number when you purchase Hunt Brothers Pizza and get a free Hunk or whole pizza for every 7 you buy.</h3>
        </div>
    </div>
</div>

<div class="container">
    @Html.Partial("SignUpPartialView");
    @*<div class="enrollment-form">
        @using (Ajax.BeginForm("Enroll", "Card", new AjaxOptions { HttpMethod = "POST" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-horizontal text-white">
                <div class="form-section container" id="signUpDiv">

                    <div class="form-group formbox mt-5">
                        @Html.LabelFor(m => m.Email, "Email Address", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control required" } })
                        </div>
                    </div>
                    <div class="form-group formbox mt-5">
                        @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "form-control required", @id = "mobNumBox1"} })
                        </div>
                    </div>
                        <div class="form-group formbox mt-5">
                            <input type="submit" class="btn btn-lg subBtn formbox" id="fsrSubmit" value="Sign Me Up!"
                                   onclick="signUpClick()"/>
                        </div>
                    <div class="error">
                        @ViewBag.CreateError
                    </div>
                    
                </div>
            </div>
        }

        <div class="hidden" id="mobNumPanel">
            @using (Ajax.BeginForm("SendVerificationCode", "Card", new AjaxOptions { HttpMethod = "POST" } ))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal text-white">
                    <div class="form-section container" id="signUpDiv">
                        <p> A six-digit confirmation code will sent via text to your number. If this number is incorrect, please correct it below.</p>
                        <div class="form-group formbox mt-5">
                            @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "form-control required", @id = "mobNumBox2"} })
                            </div>
                        </div>

                        <div class="form-group formbox mt-5">
                            <input type="submit" class="btn btn-lg subBtn formbox" id="fsrSubmit" value="Send Code" 
                                   onclick="sendCodeClick()"/>
                        </div>
                        <div class="error">
                            @ViewBag.SendError;
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="hidden" id="verifyPanel">
            @using (Ajax.BeginForm("CheckVerificationNumber", "Card", new AjaxOptions { HttpMethod = "POST" }))
            {
                <div class="form-horizontal text-white">
                    <div class="form-section container" id="verifyDiv">
                        <div class="form-group formbox mt-5">
                            @Html.LabelFor(m => m.VerificationCode, "Verification Code", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                            <div class="col-md-8">
                                @Html.EditorFor(m => m.VerificationCode, new { htmlAttributes = new { @class = "form-control required" } })
                            </div>
                        </div>

                        <div class="form-group formbox mt-5">
                            <input type="submit" class="btn btn-lg subBtn formbox" id="verifySubmit" value="Verify Code"
                                   onclick="verifyCodeClick()" />
                        </div>
                        <div class="error">
                            @ViewBag.VerError
                        </div>
                    </div>
                </div>
            }
        </div>*@
    </div>
</div>

<script type="text/javascript">

    function signUpClick() {
        $('#signUpDiv').addClass('hidden');
        $('#mobNumPanel').removeClass('hidden');
    };

    function sendCodeClick() {
        $('#mobNumPanel').addClass('hidden');
        $('#verifyPanel').removeClass('hidden');
    };

    function verifyCodeClick() {

    };

    var numInput = document.getElementById('mobNumBox1');
    var numCopy = document.getElementById('mobNumBox2');
    numInput.onkeyup = function () {
        numCopy.value = numInput.value;
    };

</script>



