@model = FreshSpotRewardsWebApp.Models.Card;

<div class="enrollment-form">
    @using (Ajax.BeginForm("Enroll", "Card", new AjaxOptions { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal text-white">
            <div class="form-section container" id="signUpDiv">

                <div class="form-group formbox mt-5">
                    @Html.LabelFor(m => m.Email, "Email Address", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control required" } })
                    </div>
                </div>
                <div class="form-group formbox mt-5">
                    @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "form-control required", @id = "mobNumBox1" } })
                    </div>
                </div>
                <div class="form-group formbox mt-5">
                    <input type="submit" class="btn btn-lg subBtn formbox" id="fsrSubmit" value="Sign Me Up!"
                           onclick="signUpClick()" />
                </div>
                <div class="error">
                    @ViewBag.CreateError
                </div>

            </div>
        </div>
    }
    </div>
