@model FreshSpotRewardsWebApp.Models.Card

@{
    ViewBag.Title = "Fresh Spot Rewards";
    ViewBag.VerError = "";
    ViewBag.MobileNumber = "";
}



<div class="container">
    <div class="row top-row">
        <div class ="bkgd col-lg-5"> </div>
        <div class="col-lg-1"> </div>
        <div class ="right-col col-lg-6">
            <h4>Use your mobile number to earn FREE pizza!</h4>

            <h1 class="main-cta">Sign up now for Fresh Spot Rewards, and get a FREE Hunk A Pizza&reg;!</h1>
            
            <h3 class="sub-cta">Enter your mobile number when you purchase Hunt Brothers Pizza and get a free Hunk or whole pizza for every 7 you buy.</h3>
        </div>
    </div>
</div>

<div class="container">

    <div class="enrollment-form">

        @using (Html.BeginForm("SendVerificationCode", "Card", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal text-white">
                <div class="form-section container" id="signUpDiv">
                    <p> A six-digit confirmation code will sent via text to your number. If this number is incorrect, please correct it below.</p>
                    <div class="form-group formbox mt-5">
                        @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "form-control required" } })
                        </div>
                    </div>

                    <div class="form-group formbox mt-5">
                        <input type="submit" class="btn btn-lg subBtn formbox" id="fsrSubmit" value="Send Code" 
                               onclick="$('#fsrSubmit').val = 'Resend Code'"/>
                    </div>

                </div>
             </div>  
        }
        <div>
            <p>@ViewBag.VerError</p>
        </div>
        @using (Html.BeginForm("CheckVerificationNumber", "Card", FormMethod.Post))
        {
            <div class="form-horizontal text-white">
                <div class="form-section container" id="verifyDiv">
                    <div class="form-group formbox mt-5">
                        @Html.LabelFor(m => m.VerificationCode, "Verification Code", htmlAttributes: new { @class = "control-label col-md-4 text-white" })
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.VerificationCode, new { htmlAttributes = new { @class = "form-control required" } })
                        </div>
                    </div>

                    <div class="form-group formbox mt-5">
                        <input type="submit" class="btn btn-lg subBtn formbox" id="verifySubmit" value="Verify Code" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script type="text/javascript">

</script>
