@model FreshSpotRewardsWebApp.Models.Card

@{
    ViewBag.Title = "Fresh Spot Rewards";
    ViewBag.VerError = "";
}


<div class="container">
    <div class="row top-row">
        <div class ="bkgd col-lg-5"> </div>
        <div class="col-lg-1"> </div>
        <div class="right-col col-lg-6">

            <div class="verify-form container-fluid">
                @using (Html.BeginForm("SendVerificationCode", "Card", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    <div class="text-white verify-form form-section row form-box">
                        <h3> A six-digit confirmation code will sent via text to your number. If this number is incorrect, please correct it below.</h3>
                    </div>

                    <div class="row verify-input">
                        <div class="form-group formbox row form-section">
                            @Html.LabelFor(m => m.CH_MPHONE, "Mobile Number:", htmlAttributes: new { @class = "text-white" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="verify-input">
                            @Html.EditorFor(m => m.CH_MPHONE, new { htmlAttributes = new { @class = "col-md-6 form-control required", @value = @ViewBag.MobileNumber } })
                        </div>
                        <div class="form-group formbox">
                            <input type="submit" class="btn subBtn formbox" id="sendCodeBtn" value="Send Text Code"/>
                        </div>
                    </div>
                }
                <div>
                    <p>@ViewBag.VerError</p>
                </div>
            </div>
        </div>
</div>
</div>


<script type="text/javascript">

</script>
